In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('titanic.csv')

In [3]:
df.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.00,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.00,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.00,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [4]:
df.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')

In [5]:
df.drop(['name','sibsp','parch','ticket','cabin','embarked','boat','body','home.dest'],axis='columns',inplace=True)
df.head()

   pclass  survived     sex    age      fare
0       1         1  female  29.00  211.3375
1       1         1    male   0.92  151.5500
2       1         0  female   2.00  151.5500
3       1         0    male  30.00  151.5500
4       1         0  female  25.00  151.5500

In [6]:
inputs=df.drop(['survived'],axis='columns')
target=df.survived

In [7]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
inputs.sex=lb.fit_transform(inputs.sex)

In [8]:
inputs

      pclass  sex    age      fare
0          1    0  29.00  211.3375
1          1    1   0.92  151.5500
2          1    0   2.00  151.5500
3          1    1  30.00  151.5500
4          1    0  25.00  151.5500
...      ...  ...    ...       ...
1304       3    0  14.50   14.4542
1305       3    0    NaN   14.4542
1306       3    1  26.50    7.2250
1307       3    1  27.00    7.2250
1308       3    1  29.00    7.8750

[1309 rows x 4 columns]

In [9]:
inputs.columns[inputs.isna().any()]

Index(['age', 'fare'], dtype='object')

In [10]:
inputs.age=inputs.age.fillna(inputs.age.mean())
inputs.fare=inputs.fare.fillna(inputs.fare.mean())

In [11]:
inputs

      pclass  sex        age      fare
0          1    0  29.000000  211.3375
1          1    1   0.920000  151.5500
2          1    0   2.000000  151.5500
3          1    1  30.000000  151.5500
4          1    0  25.000000  151.5500
...      ...  ...        ...       ...
1304       3    0  14.500000   14.4542
1305       3    0  29.881138   14.4542
1306       3    1  26.500000    7.2250
1307       3    1  27.000000    7.2250
1308       3    1  29.000000    7.8750

[1309 rows x 4 columns]

In [12]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(inputs,target,test_size=0.2)

In [13]:
len(X_test)

262

In [14]:
len(X_train)

1047

In [15]:
len(y_train)

1047

In [16]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [17]:
model.fit(X_train,y_train)

LogisticRegression()

In [18]:
y_pred=model.predict(X_test)

In [19]:
y_test

944     0
873     0
866     1
1112    0
1235    0
       ..
244     0
190     1
563     0
428     1
1237    0
Name: survived, Length: 262, dtype: int64

In [20]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[125,  30],
       [ 29,  78]], dtype=int64)

In [21]:
model.score(X_test,y_test)

0.7748091603053435

In [22]:
import pickle
pickle.dump(model,open("titanic.txt",'wb'))

In [25]:
new_model=pickle.load(open('titanic.txt','rb'))

In [26]:
new_model.predict(X_test)

array([0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0,
       0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0,
       1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0,
       1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0],
      dtype=int64)